<footer>
    <p>&copy; <%= new Date().getFullYear() %> Khang. All rights reserved.</p>
    <div class="social-links">
        <a href="https://github.com/khanchannn" target="_blank">GitHub</a>
        <a href="https://www.facebook.com/dulkanggg1504/" target="_blank">Facebook</a>
        <a href="mailto:dulkanggg1504@gmail.com">Email</a>
    </div>
</footer>
</div> <!-- End container -->
</body>

</html>